@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font: normal 16px 'Open Sans',sans-serif;
}

:root{
    --azul: rgb(0, 149, 246);
    --cinza: rgb(243,243,243); 
    --cinza-escuro: rgb(160,160,160); 
}

body{
    background-color: var(--cinza);
    width: 100%;
    min-height: 720px;
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
}

.container{
    justify-self: center;
    width: 350px;
    height: auto;
    margin: auto;
}
/*MOCK_UP*/
.mock-up{
    display: flex;
}

.phone{
    width: 170%;
}

/*CONTINUE*/
.continue{
    margin-top: 10px;
}

.group{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: solid rgba(128, 128, 128, 0.37) 1px;
}

.btn{
    width: 290px;
    height: 30px;
    background-color: var(--azul);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 10px 0px 30px;
}

.btn:hover{
    cursor: pointer;
}

/*GROUP LOGIN*/
.login{
    align-items: center;
}

.logo{
    width: 50%;
    height: 90%;
}

.login p{
    color: var(--cinza-escuro);
    font-weight: bold;
    text-align: center;
    margin: -20px 0px 15px 0px;
}

button.fb{
    margin: 0px 0px 35px;
}

.fb i{
    margin-right: 5px;
}

.ipt{
    width: 290px;
    height: 25px;
    margin-bottom: 7px;
    border: solid 1px var(--cinza-escuro);
    border-radius: 3px;
}

::placeholder{
    color: var(--cinza-escuro);
    font: 300 14px 'Open Sans', sans-serif;
    padding-left: 5px;
}

p.thin{
    font-weight: normal;
    font-size: 15px;
}

/*GROUP TENHO CONTA*/
.tenho-conta{
    margin: 10px 0px;
    text-align: center; 
    padding: 10px;  
    color: black;
}
 .tenho-conta a{
     color: var(--azul);
     font-weight: bolder;
}

.tenho-conta a:hover{
    color: grey;
}

/*GROUP GET-THE-APP*/
.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dowload{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.store{
    width: 100%;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
    body{
        background-color: white;
    }

    .group {
        border: 1px solid transparent;
    }

    .mock-up{
        display: none;
    }

    .container{
        justify-items: center;
    }
}


@media screen and (max-width:320px) {
    .container {
        width: 80%;
    }
    .ipt{
        width: 110%;
    }
    .btn{
        width: 110%;
    }
}